<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icia.oap.mapper.AlbaMapper">
	<!-- 알바가 가진 매장의 전체 업무리스트 가져오기 -->
	<select id="getAlbaTaskList" resultType="icia.oap.beans.AlbaBean">
		<![CDATA[
			SELECT  MT_SHCODE AS SHCODE,
			        SIA_ABCODE AS ABCODE,
			        MT_TLNUMBER AS TLNUMBER,
			        TL_COMMENT AS TLCOMMENT,
			        MT_DETAIL AS MTDETAIL
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			WHERE SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 선택한 매장의 업무리스트 가져오기 -->
	<select id="getAlbaTaskListSelect" resultType="icia.oap.beans.AlbaBean">
		<![CDATA[
			SELECT  
			        MT_SHCODE AS SHCODE,
			        SIA_ABCODE AS ABCODE,
			        SH_NAME AS SHNAME,
			        MT_TLNUMBER AS TLNUMBER,
			        TL_COMMENT AS TLCOMMENT,
			        MT_DETAIL AS MTDETAIL
			        
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			        INNER JOIN SH ON MT.MT_SHCODE = SH.SH_CODE
			WHERE MT_SHCODE = #{shCode} AND SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 다니는 전체 매장 가져오기 -->
	<select id="getAlbaShopList" resultType="icia.oap.beans.AlbaBean">
		<![CDATA[
			SELECT  SIA_SHCODE AS SHCODE,
			        SH_NAME AS SHNAME
			FROM SIA INNER JOIN SH ON SIA.SIA_SHCODE = SH.SH_CODE
			WHERE SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 다니는 매장의 전체 업무 COUNT 하기 -->
	<select id="getAlbaTaskListCount" resultType="int">
		<![CDATA[
			SELECT  
			       COUNT(*)
			        
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			WHERE SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 선택한 매장의 업무 COUNT 하기 -->
	<select id="getAlbaTaskListSelectCount" resultType="int">
		<![CDATA[
			SELECT  
			       COUNT(*)
			        
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			WHERE MT_SHCODE = #{shCode} AND SIA_ABCODE = #{abCode}
		]]> 
	</select>
	

		
</mapper>	
