<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icia.oap.mapper.ManageMapper">

	<!-- 매장의 업무리스트 가져오기 -->
	<select id="getAllTaskList" resultType="icia.oap.beans.ManageBean">
		<![CDATA[
			SELECT  MT_SHCODE AS SHCODE,
			        MT_TLNUMBER AS "TLNUMBER",
			        TL_COMMENT AS "TLCOMMENT",
			        MT_DETAIL AS "MTDETAIL"
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			WHERE MT_SHCODE = #{shCode}
		]]> 
	</select>
	
	<!-- work 페이지에서 업무타입별  select 해오기 -->
	<select id="getTlCommentData" resultType="icia.oap.beans.ManageBean">
		<![CDATA[
			SELECT  MT_SHCODE AS SHCODE,
			        MT_TLNUMBER AS "TLNUMBER",
			        TL_COMMENT AS "TLCOMMENT",
			        MT_DETAIL AS "MTDETAIL"
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			WHERE MT_SHCODE = #{shCode} AND MT_TLNUMBER = #{tlNumber}
		]]> 
	</select>
	
	<!-- 매장의 업무 카운트하기 -->
	<select id="getCountTask" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM MT
			WHERE MT_SHCODE = #{shCode}
		]]> 
	</select>
	
	<!-- 매장 리스트 가져오기 -->
	<select id="getNameData" resultType="icia.oap.beans.ManageBean">
		<![CDATA[
			SELECT  SH_CODE AS SHCODE,
			        SH_NAME AS SHNAME
			FROM SH
			WHERE SH_MNCODE = #{mnCode}
		]]> 
	</select>
	
	<!-- 업무 번호, 업무 내용 가져오기 상세 아님 -->
	<select id="getCommentData" resultType="icia.oap.beans.ManageBean">
		<![CDATA[
			SELECT  TL_NUMBER AS TLNUMBER,
			        TL_COMMENT AS TLCOMMENT
			FROM TL
		]]> 
	</select>
	
	<!-- 업무추가 최종 insert 하기 -->
	<insert id="workAddComplete">
		<![CDATA[
			INSERT INTO MT (MT_SHCODE, MT_TLNUMBER, MT_DETAIL)
			VALUES(#{shCode}, #{tlNumber}, #{mtDetail})
		]]> 
	</insert>
	
	<!-- 업무수정 최종 update 하기 -->
	<update id="change">
		<![CDATA[
			UPDATE MT
			SET MT_DETAIL = #{editMtDetail}
			WHERE MT_SHCODE = #{shCode} AND MT_TLNUMBER = #{tlNumber} AND MT_DETAIL = #{mtDetail}
		]]> 
	</update>
	
	<!-- work 페이지에서 delete 하기 -->
	<delete id="drop">
		<![CDATA[
			DELETE FROM MT
			WHERE MT_SHCODE = #{shCode} AND MT_TLNUMBER = #{tlNumber} AND MT_DETAIL = #{mtDetail}
		]]> 
	</delete>
	
	
	
	
	

		
</mapper>	
